body {
    background-color: lightgray;
    text-align: center;
    margin: 0;
}

h1 {
    background-color: lightgreen;
    border-radius: 10px;
}

span {
    color: red;
}

img {
    width: 80%;
    border-radius: 30px;
}

.goto-admin-btn {
    margin: 0px 10px;
    background-color: rgba(36, 182, 36, 0.815);
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
}

.goto-admin-btn:hover {
    background-color: rgba(23, 121, 23, 0.815);
    cursor: pointer;
}